/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, 'Microsoft YaHei';
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
* {
  box-sizing: border-box;
}
.mui-content {
  background-color: #fff;
}
.mui-scroll {
  position: relative;
}
.mui-list {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.mui-list a {
  width: 33.33%;
  display: block;
  float: left;
}
.mui-list img {
  width: 100%;
}
.mui-cate {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding: 0px 10px;
}
.mui-cate a:nth-child(2n+1) {
  width: 67.1%;
  float: left;
}
.mui-cate a:nth-child(2n+1) img {
  width: 50%;
  float: left;
}
.mui-cate a:nth-child(2) {
  width: 32.9%;
  float: right;
}
.mui-cate a:nth-child(2) img {
  width: 100%;
}
.title {
  padding: 10px;
  width: 100%;
  padding-bottom: 0px;
}
.title img {
  width: 100%;
}
.mui-brand {
  padding: 0 10px;
  overflow: hidden;
}
.mui-brand ul {
  width: 100%;
}
.mui-brand ul li {
  float: left;
  width: 25%;
}
.mui-brand ul li img {
  width: 100%;
}
/* 运动生活专区 */
.sports {
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
}
.sports-title img {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 15px;
}
.sports-content {
  width: 100%;
}
.sports-content ul {
  width: 100%;
  overflow: hidden;
}
.sports-content li {
  float: left;
  width: 50%;
  padding: 0 4px;
  margin-bottom: 15px;
}
.item {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  padding-bottom: 20px;
}
.item img {
  width: 100%;
}
.item p {
  padding: 0 10px;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
}
.item .price {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}
.item .price span:first-child {
  color: #f32020;
  margin-right: 10px;
}
.item .price span:last-child {
  color: #999;
  text-decoration: line-through;
}
.item a {
  padding: 5px 8px;
  background-color: #006699;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
}
