// 引入变量表
@import './setting.less';
// 引入浏览器初始化样式
@import './reset.less';


.mui-search {
    position: relative;
    margin-top: 10px;
    padding: 0 10px;
    input {
        height: 30px;
        line-height: 30px;
        padding: 0;
        padding-left: 10px;
        text-align: left;
        border: 1px solid @bgColor;
        background: @color;
        font-size: 12px;
        margin-bottom: 0;
    }
    .btn {
        position: absolute;
        right: 10px;
        top: 0;
        height: 30px;
        width: 60px;
        background: @bgColor;
        border-radius: 0 4px 4px 0;
        text-align: center;
        color: @color;
        z-index: 1;
        line-height: 30px;
        font-size: 16px;
        vertical-align: middle;
    }
}

    .history {
        margin: 10px;
        // display: none;
        .mui-clearfix {
 
            width: 100%;
            margin-bottom: 15px;  
            // p{
            //     // display: none;
            // }  
            span {
            display: block;
            font-size: 14px;
            }
        }
   .hh {
          width: 100%;
          border: 1px solid #ccc;
          ul{
            overflow: hidden;
          }

          li {
              width: 100%;
              height: 100%;
              font-size: 16px;
              line-height: 20px;
   

              padding:2px 5px;
              span {
                  float:right;
              }
          }
      }
  }
   
