/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, 'Microsoft YaHei';
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
* {
  box-sizing: border-box;
}
.mui-bar-nav {
  width: 100%;
  height: 45px;
  background-color: #006699;
}
.mui-bar-nav a {
  color: #fff;
}
.mui-bar-nav h1 {
  color: #fff;
}
.mui-bar-tab {
  width: 100%;
  height: 50px;
  background-color: #006699;
}
.mui-bar-tab a,
.mui-bar-tab span {
  color: #fff;
}
.mui-bar-tab span {
  margin-top: 5px;
}
.mui-content {
  padding: 0 10px;
  margin-top: 10px;
  background-color: #fff;
}
.mui-content .mui-center {
  position: relative;
}
.mui-content input {
  width: 100%;
  height: 38px;
  font-size: 17px;
}
.mui-content input:last-child {
  margin-top: 15px;
}
.mui-content .sp {
  position: absolute;
  right: 7px;
  bottom: 22px;
  color: #999;
}
.mui-content .login {
  display: block;
  margin-top: 26px;
  height: 34px;
  background-color: #007aff;
  text-align: center;
  line-height: 34px;
  font-size: 17px;
  color: #fff;
  border-radius: 3px;
}
.mui-content a {
  display: block;
  margin-top: 24px;
  float: right;
  color: #007aff;
}
